<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Programacion/src/EjerciciosNotas/Ejercicio2/Isbn.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="EjerciciosNotas.Ejercicio2.Isbn"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Programacion"/>
</launchConfiguration>
